* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

.container {
  width: 86%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body {
  min-height: 100vh;
  background: url(https://w.forfun.com/fetch/c3/c34744199e3a1b620c9ed42916baaacc.jpeg) no-repeat;
  background-position: center;
  background-size: 100%;
}