body {
    min-height: 100vh;
    background: url(https://w.forfun.com/fetch/c3/c34744199e3a1b620c9ed42916baaacc.jpeg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.weather {

    &__container {
    }


    &__info {
    }
}